:root {
  --cor-vermelho: #cf2e2e;
  --cor-preto: #09090a;
  --cor-cinza: #41414d;
  --cor-cinza-claro: #737380;
  --cor-pesquisar: #f3f5f6;
  --cor-background: #f0f0f5;
  --cor-branco-quente: #fbfbf9;
  --cor-branco: #ffffff;
}

html{
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  background-color: var(--cor-background);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 30px 47px;
  height: 95vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

footer {
  grid-area: footer;
}

h3 {
  position: relative;
  font-size: 28px;
  text-align: center;

  color: var(--cor-cinza);
}

h3::before {
  content: " ";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 100%;
  height: 7px;
  border-radius: 10px;

  background: var(--cor-vermelho);
}

.nav-bar-lateral {
  grid-area: sidebar;
  height: 100%;
  width: 45px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: var(--cor-branco);
}

.nav-bar-lateral a {
  color: var(--cor-cinza);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.nav-bar-lateral a:hover i {
  color: var(--cor-vermelho);
}

.nav-bar-lateral i {
  font-size: 40px;
  transition: .3s ease-in-out;
}

.nav-bar-lateral p {
  font-size: 12px;
}

/*=============== Dashboard ===============*/

.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 49px 0;
}

.card-dashboard {
  width: 256px;
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 28px 23px;
  border-radius: 10px;

  background: var(--cor-branco);
}

.card-dashboard p {
  color: var(--cor-preto);
  font-size: 28px;
  

  text-align: center;
}

.card-dashboard h3 {
  margin-bottom: 90px;
}

.card-dashboard span {
  color: var(--cor-vermelho);
  font-weight: bold;
}

/*=============== Alunos ===============*/
.alunos {
  margin: 49px 0;
  display: flex;
  justify-content: space-between;
}

.tabela {
  width: 1029px;
  border-radius: 10px;
  position: relative;
  background: var(--cor-branco);
}

.tabela-alunos {
  width: 477px;
  border-radius: 10px;
  padding: 27px 20px;

  background: var(--cor-branco);
}

.tabela-alunos h3 {
  font-size: 40px;
}

.tabela-alunos div {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px 0;

  border-bottom: 5px solid var(--cor-background);
}

.tabela-alunos span {
  margin-top: 25px;
  font-size: 20px;
  color: var(--cor-cinza-claro);
}

.tabela-alunos p {
  color: var(--cor-vermelho);
}

/*=============== Professor ===============*/
.professores{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  margin: 49px 0;
}

.card-professor {
  width: 80%;
  height: 392px;
  padding: 20px 22px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background: var(--cor-branco);
}

.card-professor span {
  color: var(--cor-vermelho);
  font-weight: bold;
}

.card-professor h2 {
  font-size: 38px;
  text-align: center;
}

.card-professor i {
  color: var(--cor-vermelho);
}

.card-professor p {
  margin: 10px 0;
}

.professor-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid var(--cor-vermelho);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--cor-cinza-claro);
}

.professor-img img {
  height: 100%;
}

/*=============== Tabela de Popularidade ===============*/

.tabela-titulo {
  font-size: 40px;
  margin-bottom: 50px;
}

.container-tabela {
  width: 85%;
  height: 70%;
  position: relative;
  margin-left: 35px;
}

.grafico {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-left: 2px dashed var(--cor-cinza);
  border-bottom: 2px solid var(--cor-cinza);
  padding: 13px;
}

.linha {
  position: absolute;
  left: -35px;
  width: 100%;
  border-top: 1px dashed var(--cor-cinza-claro);
  font-size: 12px;
  color: var(--cor-cinza);
}

.barra {
  width: 40px;
  background: #f28b82;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.barra span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.barra::after {
  content: attr(data-valor);
  position: absolute;
  top: -25px;
  background: #333;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}

.barra:hover::after {
  opacity: 1;
}

.destaque {
  background: #d32f2f;
}

.anos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
}

.anos button {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background: var(--cor-background);
  color: var(--cor-cinza);
  font-size: 20px;
  cursor: pointer;

  transition: .3s ease-in-out;
}

.anos button:hover {
  transform: scale(1.1);
}

.anos .ativo {
  background: var(--cor-vermelho);
  color: var(--cor-branco);
}

/*=============== Agenda ===============*/

.card-agenda {
  width: 100%;
  height: 265px;
  margin: 49px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;

  background: var(--cor-branco);
}

.card-agenda h1 {
  color: var(--cor-vermelho);
}

.card-agenda button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  transition: .3s ease-in-out;

  font-size: 36px;

  border: none;
  color: var(--cor-branco);
  background: var(--cor-vermelho);
}

.card-agenda button:hover {
  transform: scale(1.1);
}