:root {
  --cor-vermelho: #cf2e2e;
  --cor-preto: #09090a;
  --cor-cinza: #41414d;
  --cor-cinza-claro: #737380;
  --cor-pesquisar: #f3f5f6;
  --cor-background: #f0f0f5;
  --cor-branco-quente: #fbfbf9;
  --cor-branco: #ffffff;
}